body {
   /*font-family: 'Quicksand', sans-serif;*/
 font-family: 'Poppins', sans-serif;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
background-color: #365157 !important;
/*border-radius: 0;*/
border:none;
}

input[type="text"] {
   /* background-color: green;*/
   border-radius: 0;
}

input[type="tel"] {
   /* background-color: green;*/
   border-radius: 0;
}


select {
   /*-webkit-appearance: none;*/
   /*-moz-appearance: none;*/
   /*appearance: none;
   background-image: url(...);  */
    border-radius: 0;
   /*background-color: red;*/
}

.borderless tr, .borderless td, .borderless th {
    border: none !important;
   }
